.wrapper[data-v-26cb7cff]{width: 100%; height: auto;}
.message-item-container{font-size:14px;line-height:150%}
.message-item-dirs{color:#112534;padding:10px 0;border-top:1px solid #e5e5e5}
.message-item-dirs .message-item-node{cursor:pointer;color:#3e97df}
@media screen and (max-width:500px){
	.message-item-dirs{padding:5px}
}
.message-item-dirs:first-child{padding-top:0;border-top:none}
.message-item-dirs:last-child{padding-bottom:0}
.message-item-dirs .dirs-tip{font-weight:700}
.customer-room-chat[data-v-36edc3eb]{padding:30px 20px 50px;}
.customer-room-chat .chat-tip[data-v-36edc3eb]{width:175px;height:25px;line-height:25px;margin:0 auto;text-align:center;font-size:12px;color:#777;background:#e5e5e5;border-radius:4px}
.customer-room-chat .chat-list-item[data-v-36edc3eb]{width:100%;overflow:hidden;margin-top:30px}
.customer-room-chat .chat-list-item .item-content[data-v-36edc3eb]{box-sizing:border-box;padding:10px 14px;border-radius:4px}
.customer-room-chat .chat-list-item .item-content.item-left[data-v-36edc3eb]{float:left;background:#fff}
.customer-room-chat .chat-list-item .item-content.item-right[data-v-36edc3eb]{float:right;color:#fff;background:#3e97df}
.customer-room-chat .chat-list-item .item-content.item-right .node[data-v-36edc3eb]{color:#fff}
.customer-room-message[data-v-bf2aee06]{position:relative;height:120px;padding:14px 20px;box-shadow:0 -1px 0 0 #eaeaea}
.customer-room-message .message-text[data-v-bf2aee06]{width:100%;height:120px;border:none;resize:none;outline:0;font-family:PingFangSC-Regular;font-size:14px;color:#112534}
.customer-room-message .message-text[data-v-bf2aee06]::-webkit-input-placeholder{color:#bfbfbf}
.customer-room-message .message-text[data-v-bf2aee06]:-moz-placeholder,.customer-room-message .message-text[data-v-bf2aee06]::-moz-placeholder{color:#bfbfbf;opacity:1}
.customer-room-message .message-text[data-v-bf2aee06]:-ms-input-placeholder{color:#bfbfbf}
.customer-room-message .message-btn[data-v-bf2aee06]{position:absolute;right:20px;bottom:20px;width:109px;height:39px;background-color:rgba(62,151,223,.3);font-family:PingFangSC-Medium;font-size:14px;color:#fff;text-align:center;border:none}
.customer-room-message .message-btn.z-active[data-v-bf2aee06]{cursor:pointer;background-color:#3e97df}
.customer-room-message .suggestions[data-v-bf2aee06]{position:absolute;z-index:10;bottom:100%;background:#fff;box-shadow:0 2px 15px 0 rgba(13,28,40,.1);padding:11px 0}
.customer-room-message .suggestions li[data-v-bf2aee06]{box-sizing:border-box;width:340px;font-size:14px;line-height:28px;padding:0 26px 0 20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.customer-room-message .suggestions li[data-v-bf2aee06]:hover{background:#f1f2f3;cursor:pointer}
.customer-feedback{position:fixed;z-index:3;top:0;left:0;width:100%;height:100%}
.customer-feedback-mask{position:absolute;top:0;left:0;bottom:0;right:0;z-index:1;background-color:rgba(0,0,0,.7)}
.customer-feedback-body{position:absolute;top:50%;left:50%;z-index:2;width:551px;margin:-283px 0 0 -276px;background-color:#fff}
.customer-feedback-content{padding-top:60px;padding-left:36px;font-family:PingFangSC-Regular}
.customer-feedback-content .content-title{line-height:25px;margin-bottom:30px;font-size:18px;color:#000;letter-spacing:0}
.customer-feedback-content .content-select-tip{line-height:22px;margin-bottom:15px;font-size:16px;letter-spacing:0}
.customer-feedback-content .content-select .select-item{overflow:hidden;margin-bottom:22px;cursor:pointer}
.customer-feedback-content .content-select .select-item-icon{position:relative;float:left;width:16px;height:16px;margin:1px 8px 0 0;border:2px solid #777}
.customer-feedback-content .content-select .select-item-text{float:left;line-height:22px;font-size:16px;color:#444;letter-spacing:0}
.customer-feedback-content .content-select .select-item .iconfont{display:none;position:absolute;top:50%;left:50%;transform:translate(-45%,-50%);font-size:22px}
.customer-feedback-content .content-select .select-item.z-active .iconfont{display:block}
.customer-feedback-content .content-info{width:454px;height:88px;padding:6px 12px;margin-bottom:40px;border:1px solid #bbb}
.customer-feedback-content .content-info-text{width:100%;height:100%;line-height:30px;font-size:16px;color:#444;letter-spacing:0;resize:none;outline:0;border:none}
.customer-feedback-content .content-btn{width:168px;height:48px;margin-bottom:30px;line-height:48px;background:#3e97df;border-radius:1px;font-size:18px;color:#fff;letter-spacing:0;text-align:center;cursor:pointer}
.customer-feedback-close{position:absolute;top:0;right:0;width:48px;height:48px;background:#3e97df;cursor:pointer}
.customer-feedback-close span{position:absolute;top:50%;left:50%;width:30px;height:2px;margin:-1px 0 0 -15px;background-color:#fff;transform-origin:center}
.customer-feedback-close span:first-child{transform:rotate(45deg);-ms-transform:rotate(45deg)}
.customer-feedback-close span:nth-child(2){transform:rotate(-45deg);-ms-transform:rotate(-45deg)}
.customer-mobile .customer-feedback-body{width:300px;height:460px;margin:-230px 0 0 -150px}
.customer-mobile .content-title{margin-bottom:5px}
.customer-mobile .content-info{width:220px;margin-bottom:5px}
.customer[data-v-26cb7cff]{width:840px;height:700px;margin:0 auto;background:#fff;box-shadow:0 0 20px rgba(0,0,0,.3)}
.customer-head[data-v-26cb7cff]{height:70px;padding-left:20px;background-color:#5d71d2;border-bottom:1px solid #eaeaea}
.customer-head-logo[data-v-26cb7cff]{float:left;width:28px;height:28px;margin:21px 8px 0 0;background-image:url(../img/my-advisory-logo.png);background-size:100%}
.customer-head-title[data-v-26cb7cff]{float:left;line-height:25px;margin-top:23px;color:#fff;font-size:18px;font-weight:700}
.customer-head-title a[data-v-26cb7cff]{color:#fff}.customer-room[data-v-26cb7cff]{float:left;width:559px;height:630px}
.customer-room-content[data-v-26cb7cff]{position:relative;width:100%;height:488px;background:#f2f2f2}
.customer-room-content .customer-room-scroll[data-v-26cb7cff]{width:100%;height:488px;overflow-y:auto}
.customer-room-content .customer-room-help[data-v-26cb7cff]{position:absolute;z-index:2;bottom:0;left:0;width:100%;height:26px;padding-top:14px;background:#d8eaf9}
.customer-room-content .customer-room-help .text[data-v-26cb7cff]{float:left;margin-left:20px;font-size:13px;color:#152e48}
.customer-room-content .customer-room-help .yes[data-v-26cb7cff]{float:left;margin:0 16px 0 10px;font-size:13px;color:#3e97df}
.customer-room-content .customer-room-help .no[data-v-26cb7cff]{float:left;font-size:13px;color:#3e97df}
.customer-room-content .customer-room-help .close[data-v-26cb7cff]{float:right;margin-right:20px}
.customer-tool[data-v-26cb7cff]{float:left;width:240px;height:629px;padding:0 20px;font-family:PingFangSC-Regular;border-left:1px solid #eaeaea}
.customer-tool-hot .hot-list li[data-v-26cb7cff]{line-height:18px;margin-bottom:14px;list-style:none;text-decoration:none;font-size:13px;color:#777;cursor:pointer}
.customer-tool-hot .hot-list li[data-v-26cb7cff]:last-child{margin-bottom:0}
.customer-tool .entry-list[data-v-26cb7cff]{overflow:hidden}
.customer-tool .entry-list li[data-v-26cb7cff]{float:left;width:56px;margin-right:36px;list-style:none}
.customer-tool .entry-list li[data-v-26cb7cff]:last-child{margin-right:0}
.customer-tool .entry-list li i[data-v-26cb7cff]{display:block;width:56px;height:40px;margin-top:10px;background-position:50%;background-repeat:no-repeat}
.customer-tool .entry-list li a[data-v-26cb7cff]{color:#444;text-decoration:none}
.customer-tool .entry-list li p[data-v-26cb7cff]{line-height:20px;font-size:14px}
.customer-tool .entry-list .entry-list-offline i[data-v-26cb7cff]{background-image:url(../img/lyzx.png);background-size:24px 24px}
.customer-tool .entry-list .entry-list-feedback i[data-v-26cb7cff]{background-image:url(../img/zxfk.png);background-size:24px 24px}
.customer-tool .entry-list .entry-list-progress i[data-v-26cb7cff]{background-image:url(../img/bjjd.png);background-size:24px 24px}
.customer-tool-contact .contact-phone[data-v-26cb7cff]{line-height:20px;font-size:14px;color:#444}
.customer-tool .tool-item[data-v-26cb7cff]{padding:30px 0;line-height:22px;border-bottom:1px solid #eaeaea}
.customer-tool .tool-item[data-v-26cb7cff]:last-child{border-bottom:none}
.customer-tool .tool-title[data-v-26cb7cff]{margin-bottom:10px;font-weight:bolder}
@media only screen and (max-device-height:850px),only screen and (max-height:850px){
	.wrapper[data-v-26cb7cff]{padding-top:40px}
	.customer[data-v-26cb7cff]{height:605px}
	.customer-room[data-v-26cb7cff],.customer-tool[data-v-26cb7cff]{height:534px}
	.customer-room-content .customer-room-scroll[data-v-26cb7cff],.customer-room-content[data-v-26cb7cff]{height:396px}
	.customer-room-message[data-v-26cb7cff]{height:110px}.customer-tool .tool-item[data-v-26cb7cff]{padding:24px 0}
	.customer-room-message .message-text[data-v-26cb7cff]{height:110px}
}

html{line-height:1.15;-webkit-text-size-adjust:100%}
body{margin:0}
h1{font-size:2em;margin:.67em 0}
hr{box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace,monospace;font-size:1em}
a{background-color:transparent}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
img{border-style:none}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}
fieldset{padding:.35em .75em .625em}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress{vertical-align:baseline}
textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}
.icon-members:before{content:"\E637"}
.icon-down:before{content:"\E610"}
.icon-search:before{content:"\E619"}
.icon-delete:before{content:"\E6F5"}
.icon-star:before{content:"\E681"}
.icon-warning:before{content:"\E682"}
.icon-arrow-down:before{content:"\E649"}
.icon-upload:before{content:"\E66C"}
.icon-download:before{content:"\E61C"}
.icon-up:before{content:"\E611"}
.icon-folder:before{content:"\E662"}
.icon-preview:before{content:"\E66F"}
.icon-arrow-up:before{content:"\E6F6"}
.icon-success:before{content:"\E659"}
.icon-edit:before{content:"\E604"}
.icon-right:before{content:"\E605"}
.icon-selected:before{content:"\E607"}
.icon-location:before{content:"\E65A"}
.icon-favourite:before{content:"\E65B"}
.icon-canlendar:before{content:"\E60E"}
.icon-setting:before{content:"\E60F"}
.icon-ggfw:before{content:"\E606"}
.icon-qtqd:before{content:"\E608"}
.icon-spsf:before{content:"\E609"}
.icon-qytz:before{content:"\E60A"}
.icon-sfqd:before{content:"\E60B"}
.icon-jyfw:before{content:"\E60C"}
.icon-xzsp:before{content:"\E60D"}
.icon-yjx:before{content:"\E612"}
.icon-ggzn:before{content:"\E613"}
.icon-zzxx:before{content:"\E614"}
.icon-ggzy:before{content:"\E615"}
.icon-zzbb:before{content:"\E616"}
.icon-zfqz:before{content:"\E617"}
.icon-gnq:before{content:"\E618"}
.icon-gzbb:before{content:"\E61A"}
.icon-jjsf:before{content:"\E61B"}
.icon-xzsf:before{content:"\E61D"}
.icon-xxml:before{content:"\E61E"}
.icon-error:before{content:"\E65D"}
.icon-todo:before{content:"\E65E"}
.icon-matter:before{content:"\E65F"}
.icon-ecg:before{content:"\E646"}
.icon-communication:before{content:"\E647"}
.icon-chat:before{content:"\E648"}
.icon-bag:before{content:"\E64A"}
.icon-hammer:before{content:"\E64B"}
.icon-favourited:before{content:"\E64C"}
.icon-more:before{content:"\E660"}
.icon-consult:before{content:"\E64D"}
.icon-query:before{content:"\E64E"}
.icon-discussion:before{content:"\E64F"}
.icon-bug:before{content:"\E650"}
.icon-complain:before{content:"\E651"}
.icon-accessible:before{content:"\E652"}
.icon-payonline:before{content:"\E653"}
.icon-entrance:before{content:"\E654"}
.icon-icon_anzhuti:before{content:"\E655"}
.icon-icon_fupinfuwu:before{content:"\E656"}
.icon-icon_tedingduixiang:before{content:"\E657"}
.icon-icon_jingyinghuodong:before{content:"\E658"}
.icon-icon_renshengshijian:before{content:"\E65C"}
.icon-icon_anbumen:before{content:"\E661"}
.icon-icon_gerenyewu:before{content:"\E663"}
.icon-icon_kuaijierukou:before{content:"\E664"}
.icon-icon_bianminlianjie:before{content:"\E665"}
.icon-icon_qiyeyewu:before{content:"\E666"}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;font-family:sans-serif;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
body,html{width:100%;height:100%;font-family:PingFangSC-Medium;background:#fff;}
.gd-tabs__header{padding:0;position:relative;margin:0 0 15px}
.gd-tabs__active-bar{position:absolute;bottom:0;left:0;height:2px;background-color:#3e97df;z-index:1;transition:transform .3s cubic-bezier(.645,.045,.355,1);list-style:none}
.gd-tabs__new-tab{float:right;border:1px solid #d3dce6;height:18px;width:18px;line-height:18px;margin:12px 0 9px 10px;border-radius:3px;text-align:center;font-size:12px;color:#d3dce6;cursor:pointer;transition:all .15s}
.gd-tabs__new-tab .gd-icon-plus{transform:scale(.8)}
.gd-tabs__new-tab:hover{color:#3e97df}
.gd-tabs__nav-wrap{overflow:hidden;margin-bottom:-1px;position:relative}
.gd-tabs__nav-wrap:after{content:"";position:absolute;left:0;bottom:0;width:100%;height:2px;background-color:#e4e7ed;z-index:1}
.gd-tabs__nav-wrap.is-scrollable{padding:0 20px;box-sizing:border-box}
.gd-tabs__nav-scroll{overflow:hidden}
.gd-tabs__nav-next,.gd-tabs__nav-prev{position:absolute;cursor:pointer;line-height:44px;font-size:12px;color:#909399}
.gd-tabs__nav-next{right:0}.gd-tabs__nav-prev{left:0}
.gd-tabs__nav{white-space:nowrap;position:relative;transition:transform .3s;float:left;z-index:2}
.gd-tabs__nav.is-stretch{min-width:100%;display:flex}
.gd-tabs__nav.is-stretch>*{flex:1;text-align:center}
.gd-tabs__item{padding:0 20px;height:40px;box-sizing:border-box;line-height:40px;display:inline-block;list-style:none;font-size:14px;font-weight:500;color:#303133;position:relative}
.gd-tabs__item:focus,.gd-tabs__item:focus:active{outline:none}
.gd-tabs__item:focus.is-active.is-focus:not(:active){box-shadow:inset 0 0 2px 2px #409eff;border-radius:3px}
.gd-tabs__item .gd-icon-close{border-radius:50%;text-align:center;transition:all .3s cubic-bezier(.645,.045,.355,1);margin-left:5px}
.gd-tabs__item .gd-icon-close:before{transform:scale(.9);display:inline-block}
.gd-tabs__item .gd-icon-close:hover{background-color:#c0c4cc;color:#fff}
.gd-tabs__item.is-active{color:#3e97df}
.gd-tabs__item:hover{color:#3e97df;cursor:pointer}
.gd-tabs__item.is-disabled{color:#c0c4cc;cursor:default}
.gd-tabs__content{overflow:hidden;position:relative}
.gd-tabs--card>.gd-tabs__header{border-bottom:1px solid #e4e7ed}
.gd-tabs--card>.gd-tabs__header .gd-tabs__nav-wrap:after{content:none}
.gd-tabs--card>.gd-tabs__header .gd-tabs__nav{border:1px solid #e4e7ed;border-bottom:none;border-radius:4px 4px 0 0;box-sizing:border-box}
.gd-tabs--card>.gd-tabs__header .gd-tabs__active-bar{display:none}
.gd-tabs--card>.gd-tabs__header .gd-tabs__item .gd-icon-close{position:relative;font-size:12px;width:0;height:14px;vertical-align:middle;line-height:15px;overflow:hidden;top:-1px;right:-2px;transform-origin:100% 50%}
.gd-tabs--card>.gd-tabs__header .gd-tabs__item{border-bottom:1px solid transparent;border-left:1px solid #e4e7ed;transition:color .3s cubic-bezier(.645,.045,.355,1),padding .3s cubic-bezier(.645,.045,.355,1)}
.gd-tabs--card>.gd-tabs__header .gd-tabs__item:first-child{border-left:none}
.gd-tabs--card>.gd-tabs__header .gd-tabs__item.is-closable:hover{padding-left:13px;padding-right:13px}
.gd-tabs--card>.gd-tabs__header .gd-tabs__item.is-closable:hover .gd-icon-close{width:14px}
.gd-tabs--card>.gd-tabs__header .gd-tabs__item.is-active{border-bottom-color:#fff}
.gd-tabs--card>.gd-tabs__header .gd-tabs__item.is-active.is-closable{padding-left:20px;padding-right:20px}
.gd-tabs--card>.gd-tabs__header .gd-tabs__item.is-active.is-closable .gd-icon-close{width:14px}
.gd-tabs--border-card{background:#fff;border:1px solid #dcdfe6;box-shadow:0 2px 4px 0 rgba(0,0,0,.12),0 0 6px 0 rgba(0,0,0,.04)}
.gd-tabs--border-card>.gd-tabs__content{padding:15px}
.gd-tabs--border-card>.gd-tabs__header{background-color:#f5f7fa;border-bottom:1px solid #e4e7ed;margin:0}
.gd-tabs--border-card>.gd-tabs__header .gd-tabs__nav-wrap:after{content:none}
.gd-tabs--border-card>.gd-tabs__header .gd-tabs__item{transition:all .3s cubic-bezier(.645,.045,.355,1);border:1px solid transparent;margin:-1px -1px 0;color:#909399}
.gd-tabs--border-card>.gd-tabs__header .gd-tabs__item.is-active{color:#3e97df;background-color:#fff;border-right-color:#dcdfe6;border-left-color:#dcdfe6}
.gd-tabs--border-card>.gd-tabs__header .gd-tabs__item:not(.is-disabled):hover{color:#3e97df}
.gd-tabs--border-card>.gd-tabs__header .gd-tabs__item.is-disabled{color:#c0c4cc}
.gd-tabs--bottom .gd-tabs__item.is-bottom:nth-child(2),.gd-tabs--bottom .gd-tabs__item.is-top:nth-child(2),.gd-tabs--top .gd-tabs__item.is-bottom:nth-child(2),.gd-tabs--top .gd-tabs__item.is-top:nth-child(2){padding-left:0}
.gd-tabs--bottom .gd-tabs__item.is-bottom:last-child,.gd-tabs--bottom .gd-tabs__item.is-top:last-child,.gd-tabs--top .gd-tabs__item.is-bottom:last-child,.gd-tabs--top .gd-tabs__item.is-top:last-child{padding-right:0}
.gd-tabs--bottom.gd-tabs--border-card .gd-tabs__item:nth-child(2),.gd-tabs--bottom.gd-tabs--card .gd-tabs__item:nth-child(2),.gd-tabs--bottom .gd-tabs--left .gd-tabs__item:nth-child(2),.gd-tabs--bottom .gd-tabs--right .gd-tabs__item:nth-child(2),.gd-tabs--top.gd-tabs--border-card .gd-tabs__item:nth-child(2),.gd-tabs--top.gd-tabs--card .gd-tabs__item:nth-child(2),.gd-tabs--top .gd-tabs--left .gd-tabs__item:nth-child(2),.gd-tabs--top .gd-tabs--right .gd-tabs__item:nth-child(2){padding-left:20px}
.gd-tabs--bottom.gd-tabs--border-card .gd-tabs__item:last-child,.gd-tabs--bottom.gd-tabs--card .gd-tabs__item:last-child,.gd-tabs--bottom .gd-tabs--left .gd-tabs__item:last-child,.gd-tabs--bottom .gd-tabs--right .gd-tabs__item:last-child,.gd-tabs--top.gd-tabs--border-card .gd-tabs__item:last-child,.gd-tabs--top.gd-tabs--card .gd-tabs__item:last-child,.gd-tabs--top .gd-tabs--left .gd-tabs__item:last-child,.gd-tabs--top .gd-tabs--right .gd-tabs__item:last-child{padding-right:20px}
.gd-tabs--bottom .gd-tabs__header.is-bottom{margin-bottom:0;margin-top:10px}
.gd-tabs--bottom.gd-tabs--border-card .gd-tabs__header.is-bottom{border-bottom:0;border-top:1px solid #dcdfe6}
.gd-tabs--bottom.gd-tabs--border-card .gd-tabs__nav-wrap.is-bottom{margin-top:-1px;margin-bottom:0}
.gd-tabs--bottom.gd-tabs--border-card .gd-tabs__item.is-bottom:not(.is-active){border:1px solid transparent}
.gd-tabs--bottom.gd-tabs--border-card .gd-tabs__item.is-bottom{margin:0 -1px -1px}
.gd-tabs--left,.gd-tabs--right{overflow:hidden}
.gd-tabs--left .gd-tabs__header.is-left,.gd-tabs--left .gd-tabs__header.is-right,.gd-tabs--left .gd-tabs__nav-scroll,.gd-tabs--left .gd-tabs__nav-wrap.is-left,.gd-tabs--left .gd-tabs__nav-wrap.is-right,.gd-tabs--right .gd-tabs__header.is-left,.gd-tabs--right .gd-tabs__header.is-right,.gd-tabs--right .gd-tabs__nav-scroll,.gd-tabs--right .gd-tabs__nav-wrap.is-left,.gd-tabs--right .gd-tabs__nav-wrap.is-right{height:100%}
.gd-tabs--left .gd-tabs__active-bar.is-left,.gd-tabs--left .gd-tabs__active-bar.is-right,.gd-tabs--right .gd-tabs__active-bar.is-left,.gd-tabs--right .gd-tabs__active-bar.is-right{top:0;bottom:auto;width:2px;height:auto}
.gd-tabs--left .gd-tabs__nav-wrap.is-left,.gd-tabs--left .gd-tabs__nav-wrap.is-right,.gd-tabs--right .gd-tabs__nav-wrap.is-left,.gd-tabs--right .gd-tabs__nav-wrap.is-right{margin-bottom:0}
.gd-tabs--left .gd-tabs__nav-wrap.is-left>.gd-tabs__nav-next,.gd-tabs--left .gd-tabs__nav-wrap.is-left>.gd-tabs__nav-prev,.gd-tabs--left .gd-tabs__nav-wrap.is-right>.gd-tabs__nav-next,.gd-tabs--left .gd-tabs__nav-wrap.is-right>.gd-tabs__nav-prev,.gd-tabs--right .gd-tabs__nav-wrap.is-left>.gd-tabs__nav-next,.gd-tabs--right .gd-tabs__nav-wrap.is-left>.gd-tabs__nav-prev,.gd-tabs--right .gd-tabs__nav-wrap.is-right>.gd-tabs__nav-next,.gd-tabs--right .gd-tabs__nav-wrap.is-right>.gd-tabs__nav-prev{height:30px;line-height:30px;width:100%;text-align:center;cursor:pointer}
.gd-tabs--left .gd-tabs__nav-wrap.is-left>.gd-tabs__nav-next i,.gd-tabs--left .gd-tabs__nav-wrap.is-left>.gd-tabs__nav-prev i,.gd-tabs--left .gd-tabs__nav-wrap.is-right>.gd-tabs__nav-next i,.gd-tabs--left .gd-tabs__nav-wrap.is-right>.gd-tabs__nav-prev i,.gd-tabs--right .gd-tabs__nav-wrap.is-left>.gd-tabs__nav-next i,.gd-tabs--right .gd-tabs__nav-wrap.is-left>.gd-tabs__nav-prev i,.gd-tabs--right .gd-tabs__nav-wrap.is-right>.gd-tabs__nav-next i,.gd-tabs--right .gd-tabs__nav-wrap.is-right>.gd-tabs__nav-prev i{transform:rotate(90deg)}
.gd-tabs--left .gd-tabs__nav-wrap.is-left>.gd-tabs__nav-prev,.gd-tabs--left .gd-tabs__nav-wrap.is-right>.gd-tabs__nav-prev,.gd-tabs--right .gd-tabs__nav-wrap.is-left>.gd-tabs__nav-prev,.gd-tabs--right .gd-tabs__nav-wrap.is-right>.gd-tabs__nav-prev{left:auto;top:0}
.gd-tabs--left .gd-tabs__nav-wrap.is-left>.gd-tabs__nav-next,.gd-tabs--left .gd-tabs__nav-wrap.is-right>.gd-tabs__nav-next,.gd-tabs--right .gd-tabs__nav-wrap.is-left>.gd-tabs__nav-next,.gd-tabs--right .gd-tabs__nav-wrap.is-right>.gd-tabs__nav-next{right:auto;bottom:0}
.gd-tabs--left .gd-tabs__nav-wrap.is-left.is-scrollable,.gd-tabs--left .gd-tabs__nav-wrap.is-right.is-scrollable,.gd-tabs--right .gd-tabs__nav-wrap.is-left.is-scrollable,.gd-tabs--right .gd-tabs__nav-wrap.is-right.is-scrollable{padding:30px 0}
.gd-tabs--left .gd-tabs__nav-wrap.is-left:after,.gd-tabs--left .gd-tabs__nav-wrap.is-right:after,.gd-tabs--right .gd-tabs__nav-wrap.is-left:after,.gd-tabs--right .gd-tabs__nav-wrap.is-right:after{height:100%;width:2px;bottom:auto;top:0}
.gd-tabs--left .gd-tabs__nav.is-left,.gd-tabs--left .gd-tabs__nav.is-right,.gd-tabs--right .gd-tabs__nav.is-left,.gd-tabs--right .gd-tabs__nav.is-right{float:none}
.gd-tabs--left .gd-tabs__item.is-left,.gd-tabs--left .gd-tabs__item.is-right,.gd-tabs--right .gd-tabs__item.is-left,.gd-tabs--right .gd-tabs__item.is-right{display:block}
.gd-tabs--left .gd-tabs__header.is-left{float:left;margin-bottom:0;margin-right:10px}
.gd-tabs--left .gd-tabs__nav-wrap.is-left{margin-right:-1px}
.gd-tabs--left .gd-tabs__active-bar.is-left,.gd-tabs--left .gd-tabs__nav-wrap.is-left:after{left:auto;right:0}
.gd-tabs--left .gd-tabs__item.is-left{text-align:right}
.gd-tabs--left.gd-tabs--card .gd-tabs__active-bar.is-left{display:none}
.gd-tabs--left.gd-tabs--card .gd-tabs__item.is-left{border-left:none;border-right:1px solid #e4e7ed;border-bottom:none;border-top:1px solid #e4e7ed}
.gd-tabs--left.gd-tabs--card .gd-tabs__item.is-left:first-child{border-right:1px solid #e4e7ed;border-top:none}
.gd-tabs--left.gd-tabs--card .gd-tabs__item.is-left.is-active{border:1px solid #e4e7ed;border-right-color:#fff;border-left:none;border-bottom:none}
.gd-tabs--left.gd-tabs--card .gd-tabs__item.is-left.is-active:first-child{border-top:none}
.gd-tabs--left.gd-tabs--card .gd-tabs__item.is-left.is-active:last-child{border-bottom:none}
.gd-tabs--left.gd-tabs--card .gd-tabs__nav{border-radius:4px 0 0 4px;border-bottom:1px solid #e4e7ed;border-right:none}
.gd-tabs--left.gd-tabs--card .gd-tabs__new-tab{float:none}
.gd-tabs--left.gd-tabs--border-card .gd-tabs__header.is-left{border-right:1px solid #dfe4ed}
.gd-tabs--left.gd-tabs--border-card .gd-tabs__item.is-left{border:1px solid transparent;margin:-1px 0 -1px -1px}
.gd-tabs--left.gd-tabs--border-card .gd-tabs__item.is-left.is-active{border-color:transparent;border-top-color:#d1dbe5;border-bottom-color:#d1dbe5}
.gd-tabs--right .gd-tabs__header.is-right{float:right;margin-bottom:0;margin-left:10px}
.gd-tabs--right .gd-tabs__nav-wrap.is-right{margin-left:-1px}
.gd-tabs--right .gd-tabs__nav-wrap.is-right:after{left:0;right:auto}
.gd-tabs--right .gd-tabs__active-bar.is-right{left:0}
.gd-tabs--right.gd-tabs--card .gd-tabs__active-bar.is-right{display:none}
.gd-tabs--right.gd-tabs--card .gd-tabs__item.is-right{border-bottom:none;border-top:1px solid #e4e7ed}
.gd-tabs--right.gd-tabs--card .gd-tabs__item.is-right:first-child{border-left:1px solid #e4e7ed;border-top:none}
.gd-tabs--right.gd-tabs--card .gd-tabs__item.is-right.is-active{border:1px solid #e4e7ed;border-left-color:#fff;border-right:none;border-bottom:none}.gd-tabs--right.gd-tabs--card .gd-tabs__item.is-right.is-active:first-child{border-top:none}
.gd-tabs--right.gd-tabs--card .gd-tabs__item.is-right.is-active:last-child{border-bottom:none}
.gd-tabs--right.gd-tabs--card .gd-tabs__nav{border-radius:0 4px 4px 0px;border-bottom:1px solid #e4e7ed;border-left:none}
.gd-tabs--right.gd-tabs--border-card .gd-tabs__header.is-right{border-left:1px solid #dfe4ed}
.gd-tabs--right.gd-tabs--border-card .gd-tabs__item.is-right{border:1px solid transparent;margin:-1px -1px -1px 0}
.gd-tabs--right.gd-tabs--border-card .gd-tabs__item.is-right.is-active{border-color:transparent;border-top-color:#d1dbe5;border-bottom-color:#d1dbe5}
.slideInLeft-transition,.slideInRight-transition{display:inline-block}
.slideInRight-enter{animation:slideInRight-enter .3s}
.slideInRight-leave{position:absolute;left:0;right:0;animation:slideInRight-leave .3s}
.slideInLeft-enter{animation:slideInLeft-enter .3s}
.slideInLeft-leave{position:absolute;left:0;right:0;animation:slideInLeft-leave .3s}
@keyframes slideInRight-enter{0%{opacity:0;transform-origin:0 0;transform:translateX(100%)}to{opacity:1;transform-origin:0 0;transform:translateX(0)}}
@keyframes slideInRight-leave{0%{transform-origin:0 0;transform:translateX(0);opacity:1}to{transform-origin:0 0;transform:translateX(100%);opacity:0}}
@keyframes slideInLeft-enter{0%{opacity:0;transform-origin:0 0;transform:translateX(-100%)}to{opacity:1;transform-origin:0 0;transform:translateX(0)}}
@keyframes slideInLeft-leave{0%{transform-origin:0 0;transform:translateX(0);opacity:1}to{transform-origin:0 0;transform:translateX(-100%);opacity:0}}