* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  border: none;
}

input, textarea, button {
  display: block !important;
  width: 100%;
  border: none;
  outline: none !important;
  background-color: transparent !important;
}

button {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.pagination-wrapper {
  width: 100%;
  height: auto;
  padding-top: 30px;
}

.pagination-wrapper .el-pagination {
  width: 100%;
  height: auto;
  padding: 0;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.pagination-wrapper .el-pagination span, .pagination-wrapper .el-pagination button .el-icon {
  font-size: 16px !important;
}

.pagination-wrapper .el-pagination button {
  width: auto;
}

.el-select .el-input .el-select__caret {
  font-size: 20px;
  color: #303133;
}

.el-pagination__editor.el-input .el-input__inner {
  border: 1px solid #e5e5e5 !important;
}

.pagination-wrapper .el-pagination button:hover, .el-pager li:hover, .el-pager li.active, .el-select-dropdown__item.selected {
  color: #D41A1D !important;
}
